* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient( 0deg, hsl(285, 100%, 80%), hsl(285, 100%, 20%) );
    /*background: transparent;*/
    width: 100%;
    height: 100vh;
}

.header {
    color: #ffffff;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.output {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.window {
    border: 1px solid #999999;
    width: 100%;
    padding: 10px;
}

.chat {
    color: #ffffff;
}

.chat span {
    color: #aaaa00;
    font-weight: bold;
}

.chat .span.slaestat {
    color: #ff00ff;
}