* {
    margin: 0;
    padding: 0;
}

body {
   /* background: linear-gradient( 0deg, hsl(285, 100%, 80%), hsl(285, 100%, 20%) );*/
    background: transparent;
    width: 100%;
    height: 100vh;
}

.header {
    color: #ffffff;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: opacity 0.5s ease;
}

.transparency {
    opacity: 0.2;
}

.output {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.window {
    /*border: 1px solid #999999;*/
    width: 100%;
    padding: 10px;
    color: #ffffff;
}

.chat {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 10px;
    mask-image: linear-gradient(to top, rgba(255,255,255,1), rgba(255,255,255,0.2));
    max-height: 90vh;
    overflow-y: auto;
}

.chat .message {
    width: 300px;
    min-height: 250px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat span {
    color: #aaaa00;
    font-weight: bold;
    display: block;
    font-size: large;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.message.streamer .card-header {
    background-color: gold;
    color: black;
}

.message.mod .card-header {
    background-color: silver;
    color: black;
}

.message .card-header {
    background-color: lightskyblue;
    color: black;
}

.card {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #f0f0f0;
    color: #000;
    display: flex;
    flex-direction: column;
}

.card-header {
    height: 40px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-body {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    text-align: center;
    font-size: 1.2em;
    word-wrap: break-word;
}