* {
    margin: 0;
    padding: 0;
}

body {
   /* background: linear-gradient( 0deg, hsl(285, 100%, 80%), hsl(285, 100%, 20%) );*/
    background: transparent;
    width: 100%;
    height: 100vh;
}

.header {
    color: #ffffff;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: opacity 0.5s ease;
}

.transparency {
    opacity: 0.2;
}

.output {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.window {
    /*border: 1px solid #999999;*/
    width: 100%;
    padding: 10px;
    color: #ffffff;
}

.chat {
    color: #ffffff;
    height: 100%;
    overflow-y: auto;
}

.chat .message {
    width: fit-content;
    margin: 0 auto;
    text-align: center;
}

.chat span {
    color: #aaaa00;
    font-weight: bold;
    display: block;
}

.chat .message.streamer span {
    color: #ff00ff;
}